<h1> 글수정</h1>

    <%=form_tag '/edit_content', method: 'edit_content' do %>
   <div class="form-group">
    <textarea name="naeyong" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
    <input type="submit" class="btn btn-info">
    </div>
    <% end %>